[Unit]
Description=gunicorn {{ app_name }} daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/app
ExecStart=/usr/local/bin/gunicorn --access-logfile - --workers 3 --bind unix:/app/{{ app_name }}.sock "{{ app_init }}"

[Install]
WantedBy=multi-user.target
